<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      p {
        width: 100px;
        height: 100px;
        position: absolute;
        color: rgb(207, 50, 29);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 100px;
      }
    </style>
  </head>
  <body>
      <p>&#x2716;</p>
      <br />
  </body>
</html>
